/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
		keymap {
			compatible = "zmk,keymap";
		
			default_layer {
// ------------------------------------------------------------------------------------------
//0  | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   | 13
//14 | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   | 27
//28 |CAPS/L2|  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    | 41
//42 |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |      SHIFT       | 53
//54 |  CTL  |  WIN  |  ALT  |            SPACE              |  ALT  | WIN/▶️ | L1/🔽 | CTL/▶️| 61
// ------------------------------------------------------------------------------------------

				bindings = <
	/*ESC*/ &kp ESC /*1*/ &kp N1 /*2*/ &kp N2 /*3*/ &kp N3 /*4*/ &kp N4 /*5*/ &kp N5 /*6*/ &kp N6 /*7*/ &kp N7 /*8*/ &kp N8 /*9*/ &kp N9 /*0*/ &kp N0 /*-*/ &kp MINUS /*=*/ &kp EQUAL /*BACKSPACE*/ &kp BSPC
	/*TAB*/ &kp TAB /*Q*/ &kp Q /*W*/ &kp W /*E*/ &kp E /*R*/ &kp R /*T*/ &kp T /*Y*/ &kp Y /*U*/ &kp U /*I*/ &kp I /*O*/ &kp O /*P*/ &kp P /*[*/ &kp LBKT /*]*/ &kp RBKT /*BSLH*/ &kp BSLH
	/*CAPS*/ &kp CLCK /*A*/ &kp A /*S*/ &kp S /*D*/ &kp D /*F*/ &kp F /*G*/ &kp G /*H*/ &kp H /*J*/ &kp J /*K*/ &kp K /*L*/ &kp L /*;*/ &kp SEMI /*'*/ &kp SQT /*ENTER*/ &kp RET
	/*LSHFT*/ &kp LSHFT /*Z*/ &kp Z /*X*/ &kp X /*C*/ &kp C /*V*/ &kp V /*B*/ &kp B /*N*/ &kp N /*M*/ &kp M /*,*/ &kp COMMA /*.*/ &kp DOT /*FSLH*/ &kp FSLH /*RSHFT*/ &mt RSHFT UP
	/*LCTRL*/ &kp LCTRL /*LWIN*/ &kp LGUI /*LALT*/ &kp LALT /*SPACE*/ &kp SPACE /*RALT*/ &kp RALT /*RWIN*/ &mt RGUI LEFT /*FN*/ &kp DOWN /*RCTRL*/ &mt RCTRL RIGHT 
			>;
		};
};

combos {
        compatible = "zmk,combos";
        combo_left {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp LEFT>;
        };
    };

};